.detail-wrapper{
    margin-bottom: 150px;
}
.backArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.back-icon{
    margin: auto;
    font-size: 15px;
}
.backArrow span{
    margin: auto;
}
.flag img{
    width: 100%;
    height: auto;
}
.detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 100px; */
    margin-top: 50px;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actual-details{
    display: flex;
    padding-top: 10px;
}

.actual-details span:nth-child(1), .country-borders span:nth-child(1){
    font-weight: 700;
    
}
.country-borders{
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 20px;
    text-align: left;
}

.border-coutries{
    margin-right: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 3px;
}

.border-wrapper span:nth-child(1){
    font-weight:normal;
}
@media (min-width: 500px) {
    .backArrow{
        display: flex;
        width: 136px;
        height: 40px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    }
    .back-icon{
        margin: auto;
    }
    .flag img{
        width: 560px;
        height: 401px;
    }
    .detail-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 100px;
        margin-top: 50px;
    }
    .details h2{
        display: grid;
        grid-column-start: span 2;
        justify-self: left;
    }
    .details{
        display: grid;
        grid-template-columns: max-content max-content;
    }
    .details-wrapper-1{
        margin-right: 20px;
    }
    .country-borders{
        display: flex;
        margin-top: 40px;
    }
    .actual-details span:nth-child(1), .country-borders span:nth-child(1){
        margin-right: 10px;
    }
    .country-borders{
        display: flex;
        /* align-items: center; */
    }
    .border-coutries{
        margin-right: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        padding: 5px;
    }
    .border-coutries span:nth-child(1){
        font-weight: 100;
    }
}